<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue.js tree view example</title>
    <style>
      body {
        font-family: Menlo, Consolas, monospace;
        color: #444;
      }
      .item {
        cursor: pointer;
      }
      .bold {
        font-weight: bold;
      }
      ul {
        padding-left: 1em;
        line-height: 1.5em;
        list-style-type: dot;
      }
      li{
      	list-style: none;
      }
    </style>
    <!-- Delete ".min" for console warnings in development -->
    <script src="../../dist/vue.min.js"></script>
  </head>
  <body>

    <!-- item template -->
    <script type="text/x-template" id="item-template">
      <li>
      	 <span v-if="isFolder" >[{{open ? '-' : '+'}}]</span>
        <div
          :class="{bold: isFolder}"
          @click="toggle"
          @dblclick="changeType" style="display: inline-block;">
          {{model.name}}
         
        </div>
        <ul v-show="open" v-if="isFolder">
          <item
            class="item"
            v-for="model in model.children"
            :model="model">
          </item>
          
        </ul>
      </li>
    </script>
    <!-- the demo root element -->
    <ul id="demo" >
      <item
        class="item"
        :model="treeData" v-for='treeData in treeDatas'>
      </item>
    </ul>

    <!-- demo code -->
    <script src="tree.js"></script>
  </body>
</html>
